<%# Figure float %>
<%# TODO %>
<%# label - LaTeX label %>
<figure class="figure woowoo-figure mb-4 mt-4 ms-3 me-3" id="<%= label %>">
  <div class="text-center">
  <% stuff = fetch_all(['image', 'tikz']) %>
  <% stuff.each do |graphics| %>
    <%=r graphics %>
  <% end %>
  </div>
  <figcaption class="figure-caption">
    Obrázek <%= numeric_label %>: <%=r fetch_one('caption').content.first.content %>
  </figcaption>
</figure>
