<% if is_child_of?('paragraph') %></p><% end %>
<% rows = fetch_all('row') %>
<table class="table table-hover">
  <thead>
    <%=r rows.first %>
  </thead>
  <tbody>
    <% rows[1..].each do |row| %>
      <%=r row %>
    <% end %>
  </tbody>
</table>
<% if is_child_of?('paragraph') %><p><% end %>
