<%# general unordered list %>
<% if parent && parent.identifier == 'paragraph'%></p><% end %>
<ul>
<%= r content.first.content %>
</ul>
<% if parent && parent.identifier == 'paragraph'%><p class="woowoo-paragraph-part"><% end %>