<%# minted code block %>
<%# language: optional language specifier, c is the default %>
<% if is_child_of?('paragraph') %>
</p>
<% end %>
<% if meta?('language') %>
<%= `echo '#{strip_indent(dump).strip}' | pygmentize -l #{meta['language']} -f html` %>
<% else %>
<%= `echo '#{strip_indent(dump).strip}' | pygmentize -l c -f html` %>
<% end %>
<% if is_child_of?('paragraph') %>
<p class="woowoo-paragraph-part">
<% end %>