<%# footnote %>
<sup><a tabindex="0" role="button" data-bs-trigger="focus" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true" data-bs-content='<%= r(content, glue: true).strip %>'><%= running_counter %></a></sup>