<nav class="navbar navbar-expand sticky-top navbar-light bg-light mb-4">
  <div class="container-fluid">
    <span>
      <a class="navbar-brand" href="https://fiks.fit.cvut.cz"><img src="logo.svg" style="height:2rem;"/></a>
    <% if self.is_a?(Document) %>
      <a class="navbar-brand" href="index.html"><%= title %></a>
    <% else %>
      <a class="navbar-brand" href="index.html"><%= spine.document.title %></a>
    <% end %>
    </span>
    <% if !self.is_a?(Document) %>
      <ul class="navbar-nav">
        <ul class="nav-item">
          <a class="nav-link" href="<%= label %>.html"><%= title %></a>
        </ul>
      </ul>
    <% end %>
    <a href="#" id="theme-switch-link" title="přepínání vzhledu"><span id="theme-switch-icon" class="fa fa-moon"></span></a>
  </div>
</nav>
