<%# a paragraph %>
<%# noindent: if set to true do not indent this paragraph! %>
<p class="woowoo-paragraph<%= parent && %w[Algorithm Definition Example Lemma Observation Proposition Proof Question Remark Solution Theorem Warning].include?(parent.identifier) ? ' card-text' : '' %>" id="<%= label %>">
<%= r content %>
</p>
