<!DOCTYPE html>
<html lang="en">
<!-- CREATED BY: Matěj Frnka -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mindmap</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="nodes.css">
    <link rel="stylesheet" href="responsive.css">
    <!-- D3 -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- MATHJAX -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    skipStartupTypeset: true,
    extensions: ["tex2jax.js"],
    tex2jax: {
        inlineMath: [['$', '$'], ["\\(", "\\)"]],
        processEscapes: true,
        processEnvironments: true
    },
    positionToHash: false,
    TeX: {
        Macros: {
            N: "\\mathbb{N}",
            R: "\\mathbb{R}",
            Z: "\\mathbb{Z}",
            Q: "\\mathbb{Q}",
            R: "\\mathbb{R}",
            eR: "\\overline{\\mathbb{R}}",
            CC: "\\mathbb{C}",
            ee: "\\mathrm{e}",
            ii: "\\mathrm{i}",
            Re: "\\mathrm{Re}\\,",
            Im: "\\mathrm{Im}\\,",
            tg: "\\mathrm{tg}",
            ctg: "\\mathrm{cotg}",
            cotg: "\\mathrm{cotg}",
            arctg: "\\mathrm{arctg}",
            arcctg: "\\mathrm{arccotg}",
            tr: "\\mathrm{tr}",
            ceq: "\\mathrel{\\mathop:}=",
            veps: "\\varepsilon",
            sgn: "\\mathrm{sgn}",
            dt: "\\mathrm{d}t",
            dx: "\\mathrm{d}x",
            lano: "o",
            lanO: "\\mathcal{O}",
            mA: "\\mathbf{A}",
            mB: "\\mathbf{B}",
            mC: "\\mathbf{C}",
            mD: "\\mathbf{D}",
            mE: "\\mathbf{E}",
            mP: "\\mathbf{P}",
            mQ: "\\mathbf{Q}",
            mX: "\\mathbf{X}",
            mI: "\\mathbf{I}",
            mF: "\\mathbf{F}",
            mG: "\\mathbf{G}",
            mR: "\\mathbf{R}",
            mS: "\\mathbf{S}",
            mSigma: "\\boldsymbol{\\Sigma}",
            mU: "\\mathbf{U}",
            mV: "\\mathbf{V}",
            mL: "\\mathbf{L}",
            mY: "\\mathbf{Y}",
            vx: "\\mathbf{x}",
            vy: "\\mathbf{y}",
            vz: "\\mathbf{z}",
            va: "\\mathbf{a}",
            vb: "\\mathbf{b}",
            vc: "\\mathbf{c}",
            ve: "\\mathbf{e}",
            vq: "\\mathbf{q}",
            vell: "\\boldsymbol{\\ell}",
            vu: "\\mathbf{u}",
            vv: "\\mathbf{v}",
            vw: "\\mathbf{w}",
            XX: "\\mathcal{X}",
            YY: "\\mathcal{Y}",
            EE: "\\mathcal{E}",
            PP: "\\mathcal{P}",
            UU: "\\mathcal{U}",
            lcm: "\\mathrm{lcm}",
            ssubset: "\\subset\\subset",
            fl: "\\mathrm{f \\kern 0.04em l}",
            logi: "\\mkern4mu{\\Large\\shortmid}\\mkern-8mu\\raise{0.5pt}=\\mkern-8mu{\\Large\\shortmid}\\mkern4mu",
            thus: "\\mkern4mu{\\Large\\shortmid}\\mkern-8mu\\raise{0.5pt}=\\mkern-8mu\\mkern8mu",
            pmat: [ "\\left(\\!\\!\\begin{array}{#1}#2\\end{array}\\!\\!\\right)", 2 ],
            clr: [ "\\color{#1}{#2}", 2 ],
        }
    }
});









    </script>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script src="https://kit.fontawesome.com/f096386626.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="legendWrapper" style="display: none">
    <div id="legend">
        <div class="legendNode legendPiece">
            <h1>Typy pojmů</h1>
            <div class="Definition node" style="position: static">
                <div class="innerNode">
                    <div class="nodeHeading">Definice</div>
                </div>
            </div>
            <div class="Theorem node" style="position: static">
                <div class="innerNode">
                    <div class="nodeHeading">Věta</div>
                </div>
            </div>
            <div class="Lemma node" style="position: static">
                <div class="innerNode">
                    <div class="nodeHeading">Lemma</div>
                </div>
            </div>
            <div class="Proposition node" style="position: static">
                <div class="innerNode">
                    <div class="nodeHeading">Návrh</div>
                </div>
            </div>
            <div class="Corollary node" style="position: static">
                <div class="innerNode">
                    <div class="nodeHeading">Důsledek</div>
                </div>
            </div>
        </div>
        <div class="legendPiece">
            <h1>Typy Referencí</h1>
            <h2>Reference v obsahu pojmu</h2>
            <svg>
                <rect class="referencePath hovered" x="0" y="0" width="100%" height="1px"/>
            </svg>
            <h2>Reference v důkazu pojmu</h2>
            <svg>
                <rect class="secondaryPath" stroke-width="6px" x="0" y="0" width="100%" height="1px"/>
            </svg>
        </div>
    </div>
</div>
<div id="info"><i class="fa-solid fa-circle-info"></i></div>
<!--SOURCE: https://codepen.io/nikhil8krishnan/pen/rVoXJa  -->
<div id="loading">
    <svg viewBox="0 0 100 100" width="150">
        <path fill="#fff"
              d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
            <animateTransform
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    dur="1s"
                    from="0 50 50"
                    to="360 50 50"
                    repeatCount="indefinite"/>
        </path>
    </svg>
</div>
<div id="container" style="height: 100vh">
    <div id="controller"></div>
    <div id="app" class="canvas" style="width: 10px; height: 10px">
        <svg id="lines"></svg>
    </div>
</div>
<!--CUSTOM SCRIPTS!-->
<script src="index.js" type="module"></script>
</body>
</html>