.innerNode {
    color: #ffffff;
    background-color: #181717;
}

.referenceDescription {
    background-color: #e1e1e1;
}


.Definition .innerNode {
    color: #ffffff;
    background-color: #1a93cf;
}

.Definition.referenceDescription {
    background-color: #dcf0f1!important;
}

.Theorem .innerNode {
    color: white;
    background-color: #f0941f;
}

.Theorem.referenceDescription {
    background-color: #fce6c6!important;
}

.Lemma .innerNode {
    color: white;
    background-color: #EF6024;
}

.Lemma.referenceDescription {
    background-color: #f5b99a!important;
}


.Proposition .innerNode {
    color: white;
    background-color: #FF4858;
}

.Proposition.referenceDescription {
    background-color: #ffc7cd!important;
}