/*4K*/
@media only screen and (min-width: 2000px) {
    html {
        font-size: 45px;
    }
    .selected .innerNode {
        height: calc(100vh - 450px);
    }
}


@media only screen and (min-width: 601px ) and (max-width: 1000px) {
    html {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 20px;
    }

    #legend .legendPiece {
        text-align: center;
        padding-top: 5%;
        width: 60%;
    }

    #info {
        left: 1em;
        top: 1em;
    }

    .textbookRef {
        display: none !important;
    }

    .referenceDescription {
        font-size: 0.7em;
    }

    .selected .nodeHeading{
        font-size: 1.3em!important;
    }
}
